@{
    ViewBag.Title = "Home Page";
}

<style>
    .img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }
</style>

<div class="container align-items-start">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center">
            <h1 class="display-5">Mobilizing Compassion, Minimizing Waste, Nourishing Lives, One Meal at a Time.</h1>
            <a class="btn btn-primary w-50 mt-3" href="/Home/GetStarted">Get Started</a>
        </div>
        <div class="col shadow-lg">
            <div class="row">
                <div class="col px-0">
                    <img src="../../Content/pexels-parij-photography-1427430.jpg" class="img-fluid img" />
                </div>
                <div class="col px-0">
                    <img src="../../Content/pexels-hitesh-choudhary-1739842.jpg" class="img-fluid img" />
                </div>
            </div>
            <div class="row">
                <div class="col px-0">
                    <img src="../../Content/pexels-pixabay-46259.jpg" class="img-fluid img" />
                </div>
                <div class="col px-0">
                    <img src="../../Content/pexels-pixabay-70336.jpg" class="img-fluid img" />
                </div>
            </div>
        </div>
    </div>
</div>